@model BlogModel

@{
    ViewData["Title"] = "Blog Details";
}
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDateDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDateDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserNameDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserNameDisplay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagsDisplay)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.TagsDisplay)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <p><a asp-action="Index">Back to Blog List</a></p>
</div>
